@using System.Security.Claims
@model MINTHOTEL.Models.Db.Visitum;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveVisitas</title>
	<link rel="stylesheet" href="~/css/VisitaStyle.css" asp-append-version="true" />
</head>
<body>
	<header>
		<div class="header-container">
			@if (User.Identity!.IsAuthenticated)
			{
				<h5 class="display-4">

					@User.Claims.Where(u => u.Type == ClaimTypes.Name).Select(u => u.Value).SingleOrDefault()
					<span class="icon"></span> <!-- Icono de usuario -->
				</h5>
			}
		</div>
		<img src="~/Images/5-estrellas.png" alt="Logo" id="logo">
	</header>
	<div class="spacer"></div>
	<div class="container-menu">
		<div class="cont-menu">
			<h2>Register-HOTELS</h2>
			<nav>
				@if (User.IsInRole("Administrator"))
				{
					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Administracion y registro de Hoteles</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="CrearUsuarios" asp-action="Usuarioadmin"> <ion-icon name="person-circle-outline"></ion-icon> Crear Usuario</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="vistaHotel" asp-action="Vistahoteles"> <ion-icon name="bed-outline"></ion-icon> Registro y Hoteles</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Registros" asp-action="TablasVisita"> <ion-icon name="bed"></ion-icon> Historial de Húesped</a>
								</li>
								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Registros" asp-action="registroHoteles"> <ion-icon name="business"></ion-icon> Hoteles & Propietarios</a>
								</li>
																
							</ul>

						</div>
					</li>

					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Usuario Hotel</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="SaveVisita" asp-action="SaveVisitas"> <ion-icon name="person"></ion-icon> Registrar Huesped</a>
								</li>

							</ul>

						</div>
					</li>
					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Usuario Propietario</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">


								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Propietario" asp-action="UsuarioHotel"> <ion-icon name="person-add"></ion-icon> Crear Usuario Hotel</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Propietario" asp-action="TablasUsuario"> <ion-icon name="settings"></ion-icon> Administrar Usuarios</a>
								</li>
								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Inicio" asp-action="Salir"> <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión</a>
								</li>

							</ul>

						</div>
					</li>

					
				}
				@if (User.IsInRole("Administrador"))
				{
					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Migración y Extrangeria</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="vistaHotel" asp-action="Vistahoteles"> <ion-icon name="bed-outline"></ion-icon> Registro y Hoteles</a>
								</li>
								@*  <li class="dropdown__li">
							<a class="nav-link" asp-controller="SavePropietario" asp-action="ProRegistro">Registrar Propietario</a>
							</li> *@
								@*   <li class="dropdown__li">
							<a class="nav-link" asp-controller="CrearUsuarios" asp-action="CrearUsuario">Crear Usuario</a>
							</li> *@
								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Registros" asp-action="TablasVisita"> <ion-icon name="bed"></ion-icon> Historial de Húesped</a>
								</li>
								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Registros" asp-action="registroHoteles"> <ion-icon name="business"></ion-icon> Hoteles & Propietarios</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Inicio" asp-action="Salir"> <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión</a>
								</li>



							</ul>

						</div>
					</li>
				}
				@if (User.IsInRole("Usuario"))
				{
					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Usuario Hotel</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="SaveVisita" asp-action="SaveVisitas"> <ion-icon name="person"></ion-icon> Registrar Huesped</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-area="" asp-controller="SaveVisita" asp-action="TablasVisita"> <ion-icon name="bed"></ion-icon> Húesped Activos </a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Inicio" asp-action="Salir"> <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión</a>
								</li>

							</ul>

						</div>
					</li>

				}
				@if (User.IsInRole("Propietario"))
				{


					<li class="dropdown__list">
						<a href="#" class="dropdown__link">
							<span class="dropdown__span">Usuario Propietario</span>
							<input type="checkbox" class="dropdown__check">
						</a>

						<div class="dropdown__content">

							<ul class="dropdown__sub">


								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Propietario" asp-action="UsuarioHotel">Crear Usuario Hotel</a>
								</li>

								<li class="dropdown__li">
									<a class="nav-link" asp-controller="Propietario" asp-action="TablasUsuario">Administrar Usuarios</a>
								</li>

							</ul>

						</div>
					</li>
				}
			</nav>

		</div>
	</div>

	<div class="container">
		<div class="title">Recepción de Datos del Húesped</div>
		<div class="content">
            <form asp-controller="SaveVisita" asp-action="SaveVisitas" method="post">
				<div class="user-details">
                    <div class="input-box">
						<span class="details">Primer Nombre *</span>
						<input type="text" id="PrimerNombre" name="PrimerNombre" asp-for="PrimerNombre" required>
                    </div>
                    <div class="input-box">
                        <label for="SegundoNombre">Segundo Nombre:</label>
						<input type="text" id="SegundoNombre" name="SegundoNombre" asp-for="SegundoNombre">
                    </div>
                    <div class="input-box">
                        <label for="PrimerApellido">Primer Apellido *:</label>
                        <input type="text" id="PrimerApellido" name="PrimerApellido" asp-for="PrimerApellido" required>
                    </div>
                    <div class="input-box">
                        <label for="SegundoApellido">Segundo Apellido:</label>
                        <input type="text" id="SegundoApellido" name="SegundoApellido" asp-for="SegundoApellido">
                    </div>
                    <div class="input-box">
						<span class="details">Genero*</span>
                        <select id="Sexo" name="Sexo" asp-for="Sexo" required>
                            <option value="">Seleccione..</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="FechaNac">Fecha de Nacimiento  *:</label>
                        <input type="date" id="FechaNac" name="FechaNac" asp-for="FechaNac" required>
                    </div>

					<div class="input-box">
						<span class="details">Nacionalidad*</span>
						<select id="Nacionalidad" name="Nacionalidad" asp-for="Nacionalidad" required>
							<option value="">Seleccione..</option>
							<option value="afgano">Afgano</option>
							<option value="alemán">Alemán</option>
							<option value="andorrano">Andorrano</option>
							<option value="angoleño">Angoleño</option>
							<option value="argelino">Argelino</option>
							<option value="argentino">Argentino</option>
							<option value="australiano">Australiano</option>
							<option value="austriaco">Austriaco</option>
							<option value="bahameño">Bahameño</option>
							<option value="bangladesí">Bangladesí</option>
							<option value="barbadense">Barbadense</option>
							<option value="belga">Belga</option>
							<option value="beliceño">Beliceño</option>
							<option value="boliviano">Boliviano</option>
							<option value="brasileño">Brasileño</option>
							<option value="británico">Británico</option>
							<option value="búlgaro">Búlgaro</option>
							<option value="camerunés">Camerunés</option>
							<option value="canadiense">Canadiense</option>
							<option value="chileno">Chileno</option>
							<option value="chino">Chino</option>
							<option value="colombiano">Colombiano</option>
							<option value="costarricense">Costarricense</option>
							<option value="cubano">Cubano</option>
							<option value="danés">Danés</option>
							<option value="dominicano">Dominicano</option>
							<option value="ecuatoriano">Ecuatoriano</option>
							<option value="egipcio">Egipcio</option>
							<option value="español">Español</option>
							<option value="estadounidense">Estadounidense</option>
							<option value="estonio">Estonio</option>
							<option value="etíope">Etíope</option>
							<option value="filipino">Filipino</option>
							<option value="finlandés">Finlandés</option>
							<option value="francés">Francés</option>
							<option value="griego">Griego</option>
							<option value="guatemalteco">Guatemalteco</option>
							<option value="haitiano">Haitiano</option>
							<option value="hondureño">Hondureño</option>
							<option value="húngaro">Húngaro</option>
							<option value="indio">Indio</option>
							<option value="indonesio">Indonesio</option>
							<option value="iraquí">Iraquí</option>
							<option value="iraní">Iraní</option>
							<option value="irlandés">Irlandés</option>
							<option value="islandés">Islandés</option>
							<option value="israelí">Israelí</option>
							<option value="italiano">Italiano</option>
							<option value="jamaicano">Jamaicano</option>
							<option value="japonés">Japonés</option>
							<option value="jordano">Jordano</option>
							<option value="keniano">Keniano</option>
							<option value="kuwaití">Kuwaití</option>
							<option value="letón">Letón</option>
							<option value="libanés">Libanés</option>
							<option value="libio">Libio</option>
							<option value="lituano">Lituano</option>
							<option value="luxemburgués">Luxemburgués</option>
							<option value="malasio">Malasio</option>
							<option value="maltes">Maltes</option>
							<option value="marroquí">Marroquí</option>
							<option value="mexicano">Mexicano</option>
							<option value="neozelandés">Neozelandés</option>
							<option value="nicaragüense">Nicaragüense</option>
							<option value="nigeriano">Nigeriano</option>
							<option value="noruego">Noruego</option>
							<option value="panameño">Panameño</option>
							<option value="paraguayo">Paraguayo</option>
							<option value="peruano">Peruano</option>
							<option value="polaco">Polaco</option>
							<option value="portugués">Portugués</option>
							<option value="puertorriqueño">Puertorriqueño</option>
							<option value="checo">Checo</option>
							<option value="dominicano">Dominicano</option>
							<option value="rumano">Rumano</option>
							<option value="ruso">Ruso</option>
							<option value="salvadoreño">Salvadoreño</option>
							<option value="sueco">Sueco</option>
							<option value="suizo">Suizo</option>
							<option value="sudafricano">Sudafricano</option>
							<option value="tailandés">Tailandés</option>
							<option value="turco">Turco</option>
							<option value="ucraniano">Ucraniano</option>
							<option value="uruguayo">Uruguayo</option>
							<option value="venezolano">Venezolano</option>
						</select>
					</div>
                    <div class="input-box">
                        <span class="details">Tipo de Identificacion</span>
						<select id="TipoIdentificion" name="TipoIdentificion" asp-for="TipoIdentificion" required>
                            <option value="">Seleccione..</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Cedula">Cedula</option>
                            <option value="Cedula Residente">Cedula Residente</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="NIdentificación">Número de Identificación *:</label>
                        <input type="text" id="NumIdentificion" name="NumIdentificion" asp-for="NumIdentificion" required>
                    </div>
                    <div class="input-box">
						<label for="NumHabitacion">"Numero de Habitación:</label>
						<input type="text" id="NumHabitacion" name="NumHabitacion" asp-for="NumHabitacion" required>
                    </div>


				</div>


				<div class="d-grid gap-2 mb-3">
					<button class="btn btn-primary custom-button" type="submit" id="submitButton">Guardar <ion-icon name="save-outline"></ion-icon></button>
				</div>


			</form>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#crearUsuarioForm').on('submit', function (e) {
				e.preventDefault();

				var form = $(this);
				var url = form.attr('action');
				var submitButton = $('#submitButton');
				submitButton.prop('disabled', true); // Deshabilitar el botón

				$.ajax({
					type: "POST",
					url: url,
					data: form.serialize(),
					success: function (response) {
						var mensajeError = $('#mensajeError');

						if (response.success) {
							mensajeError.removeClass('alert-danger').addClass('alert-success');
							mensajeError.text(response.message);
							$('#crearUsuarioForm')[0].reset(); // Limpiar el formulario
						} else {
							mensajeError.removeClass('alert-success').addClass('alert-danger');
							mensajeError.text(response.message + (response.errors ? ": " + response.errors.join(", ") : ""));
						}

						mensajeError.show();
						setTimeout(function () {
							mensajeError.hide();
						}, 5000);

						submitButton.prop('disabled', false); // Volver a habilitar el botón
					},
					error: function () {
						var mensajeError = $('#mensajeError');
						mensajeError.removeClass('alert-success').addClass('alert-danger');
						mensajeError.text('Error al enviar la solicitud.');
						mensajeError.show();
						setTimeout(function () {
							mensajeError.hide();
						}, 5000);

						submitButton.prop('disabled', false); // Volver a habilitar el botón
					}
				});
			});
		});
	</script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
